{% load i18n %}
{% load custom %}

{% extends 'base.html' %}

{% block body %}
    <div class="auth-form form">
        <form name="auth">
            <label>{% trans "Login" %}</label>
            <input name="login" type="text">
            <label>{% trans "Password" %}</label>
            <input name="password" type="password">
            <button class="btn btn-info">{% trans "Log in" %}</button>
        </form>
    </div>
{% endblock body %}

{% block script %}
    <script type="application/javascript">
        document.forms.auth.onsubmit = function () {
            var login = this.elements.login;
            var password = this.element.password;
            $.ajax({
                url: '/api/auth.login',
                type: "POST",
                data: {
                    'login': login,
                    'password': password,
                    'csrfmiddlewaretoken': $.cookie('csrftoken')
                }
            }).success(function() {

            }).error(function () {

            })
            return false;
        }
    </script>
{% endblock script %}